body{
    margin: 0;
}
.geoCities{
background-color: blue;
margin: 5px;
color: white;
padding: 5px;
height: 40px;

}

#errMessage{
    color:red;
}
#top-container{
    margin: 0;
    display:inline;
}

#forcast-container{
    padding:0;
}

.card-body{
    padding:0;
}
.format-card{
    padding:0
}